@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#181818];
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-diagonal-bg {
  background-image: repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.005) 0px,
    rgba(255, 255, 255, 0.005) 24px,
    rgba(0, 0, 0, 0.005) 24px,
    rgba(0, 0, 0, 0.005) 48px
  );
}
